<!-- File: SQapp/templates/searchresults.html -->
<html>
	<head>
		<title>Search results</title>
	</head>
	<body>
		{% for quote in results %}
		<p>"{{quote.content}}" {{quote.character}} (S{{quote.season}}E{{quote.episode}})</p>
		{% endfor %}
	</body>
</html>
