<!-- File: SQapp/templates/searchform.html -->
<html>
	<head>
		<title>Search Simpsons quote</title>
	</head>
	<body>

		<form action='search-html' method='POST'>
			{% csrf_token %}
			<input type='text' name='terms' /> <input type='submit' value='Search' />
		</form>
	</body>
</html>
